body
  width: 100vw
  height: 100vh
  max-width: 100%
  font-family: Montserrat
  margin: 0
  background: #F9F9F9
  display: flex
  align-items: center
  justify-content: center

.container
  max-width: 940px
  margin: 0 auto

aside
  width: 25%
main
  width: 75%

header
  width: 100%
  position: absolute
  top: 0
  border-bottom: 1px solid #eeeeee

  .nav-main
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 10

  .nav-secondary
    position: absolute
    top: 68px
    left: 0
    width: 100%
    background: #F9F9F9

main
  margin-top: 68px * 2
  padding-top: 80px

.hello
  margin-top: 68px * 2
  padding-top: 80px
