$main-color: #162745
$background-color: #F9F9F9
$separator-color: #EEEEEE

$main-menu-color: #B1B8C1
$secondary-menu-color: #647083
$is-selected-color: #162945
$main-color: #162945
$secondary-color: #647083
$link-color: #1785FB

$break-small: 320px
$break-large: 1200px
