html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

body {
  background: #fff;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  box-sizing: border-box; }

main#welcome-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #162945; }

main#docs-page {
  background: #F9F9F9;
  padding: 50px; }

aside#article-page {
  width: 30%;
  height: 500px;
  background: yellow; }

.container {
  max-width: 940px;
  margin: auto; }

@media only screen and (max-width: 780px) {
  aside#aside-article-page {
    display: none; }
  main#article-page {
    width: 100% !important; } }

.logo {
  display: block;
  text-decoration: none;
  padding: 20px;
  width: 138px;
  border: 5px solid white; }
  .logo .logo__name {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    color: white;
    letter-spacing: 5px; }
  .logo .logo__circle {
    width: 100px;
    height: 100px;
    margin: 45vh auto;
    border-radius: 50%;
    position: relative;
    top: -6px;
    left: 4px; }
    .logo .logo__circle::before, .logo .logo__circle::after {
      background: white;
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0; }
    .logo .logo__circle::before {
      animation: wave 3s ease-out infinite; }
    .logo .logo__circle::after {
      animation: bounce 3s linear infinite; }

@keyframes wave {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(0.8); }
  20% {
    transform: scale(1);
    opacity: 0.5; }
  100% {
    transform: scale(3);
    opacity: 0; } }

@keyframes bounce {
  0%, 20%, 100% {
    transform: scale(1); }
  10% {
    transform: scale(0.8); } }

.logo--nav {
  margin-right: 40px;
  text-decoration: none;
  padding: 0px;
  width: auto;
  border: none; }
  .logo--nav .logo__name--nav {
    font-size: 16px;
    color: #2E3C43; }
  .logo--nav .logo__circle--nav {
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px; }
    .logo--nav .logo__circle--nav::before, .logo--nav .logo__circle--nav::after {
      width: 15px;
      height: 15px;
      background: #2E3C43; }

.nav {
  box-sizing: border-box;
  padding: 25px 0px;
  height: 68px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px; }
  .nav ul {
    display: flex; }
    .nav ul li {
      margin-right: 20px;
      cursor: pointer; }
      .nav ul li:nth-child(6) {
        margin-right: auto; }
      .nav ul li:last-child {
        margin-right: 0; }

.nav-main {
  background: #fff; }
  .nav-main li {
    color: #162945; }

.nav-secondary {
  background: #F9F9F9; }
  .nav-secondary li {
    color: #647083;
    font-weight: 400; }
  .nav-secondary.is-selected, .nav-secondary:hover {
    color: #162945 !important; }
  .nav-secondary:after {
    content: "";
    display: block;
    height: 1px;
    max-width: 940px;
    margin: auto;
    border-bottom: solid 1px #EEEEEE;
    padding-top: 28px; }

.docs-intro {
  box-sizing: border-box;
  margin-bottom: 64px; }
  .docs-intro h1 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    color: #162945;
    margin-bottom: 16px; }
  .docs-intro p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: calc(30/20);
    color: #162945;
    margin-bottom: 22px;
    max-width: 700px; }
  .docs-intro input {
    height: 56px;
    width: 450px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    text-indent: 16px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 30px;
    outline: none; }
    .docs-intro input::placeholder {
      color: #B1B8C1; }

.docs-categories .container {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap; }
  .docs-categories .container .docs-category {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin-bottom: 40px; }
    .docs-categories .container .docs-category:not(:last-child) {
      margin-right: 20px; }
    .docs-categories .container .docs-category:last-child {
      margin-right: 0px; }
    .docs-categories .container .docs-category h3 {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      color: #647083;
      margin-bottom: 8px; }
    .docs-categories .container .docs-category p {
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 400;
      color: #647083;
      line-height: calc(24/15);
      margin-bottom: 28px;
      flex: 1 0 auto; }
    .docs-categories .container .docs-category .topic-box {
      height: 56px;
      width: 100%;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
      box-sizing: border-box;
      padding: 16px;
      align-items: center;
      display: flex;
      cursor: pointer;
      text-decoration: none;
      margin-bottom: 16px;
      font-family: Montserrat; }
      .docs-categories .container .docs-category .topic-box:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15); }
      .docs-categories .container .docs-category .topic-box .topic-box__icon {
        margin-right: 16px; }
      .docs-categories .container .docs-category .topic-box .topic-box__title {
        margin-right: auto;
        color: #647083; }
      .docs-categories .container .docs-category .topic-box .topic-box__api {
        padding: 4px 7px;
        border-radius: 2px;
        background: #DDDDDD;
        font-size: 10px !important;
        color: white !important; }

.grid {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 100px auto; }

aside#aside-article-page {
  width: 30%;
  margin-top: 10px;
  margin-right: 20px; }
  aside#aside-article-page .menu {
    font-family: Montserrat;
    font-size: 13px;
    color: #B1B8C1; }
    aside#aside-article-page .menu li {
      margin-bottom: 30px;
      cursor: pointer; }
  aside#aside-article-page .submenu {
    color: #647083; }
    aside#aside-article-page .submenu li {
      margin-top: 20px;
      margin-bottom: 0;
      margin-left: 30px; }
      aside#aside-article-page .submenu li:hover {
        font-weight: 700; }
      aside#aside-article-page .submenu li.is-selected {
        font-weight: 700;
        color: #162945; }

main#article-page {
  width: 70%;
  font-family: Montserrat;
  color: #162945; }
  main#article-page section {
    margin-bottom: 64px; }
  main#article-page h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 8px; }
  main#article-page h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 8px; }
  main#article-page h3 {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 8px; }
  main#article-page p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 24px; }
  main#article-page code {
    display: block;
    margin-bottom: 24px;
    background: #162945;
    color: white;
    padding: 16px;
    font-size: 13px;
    line-height: 24px;
    overflow: hidden; }
    main#article-page code.prettyprint ol.linenums {
      counter-reset: linenumber; }
    main#article-page code.prettyprint ol.linenums li {
      list-style-type: none;
      counter-increment: linenumber; }
    main#article-page code.prettyprint ol.linenums li:before {
      content: counter(linenumber);
      float: left;
      text-align: right;
      margin-right: 32px;
      color: #647083; }
  main#article-page a {
    color: #1785FB;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer; }
  main#article-page table {
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 32px;
    width: 100%; }
    main#article-page table td, main#article-page table th {
      text-align: left;
      padding: 16px;
      border: 1px solid #eee;
      font-size: 13px; }
    main#article-page table th {
      font-weight: 600; }
  main#article-page .info-box {
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background: #F6FFF5;
    padding: 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    color: #162945;
    font-size: 13px;
    line-height: 24px; }
  main#article-page .concept-box {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #F9F9F9;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); }
    main#article-page .concept-box .title {
      color: #162945;
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 0; }
    main#article-page .concept-box .description {
      color: #647083;
      font-size: 13px;
      line-heigt: 24px;
      margin-bottom: 0px auto; }
