- var mainLinks = [{name: "Builder",href: ""},{name: "Engine",href: ""},{name: "Solutions",href: ""},{name: "Pricing",href: ""},{name: "Blog",href: ""},{name: "Login",href: ""},{name: "Contact us",href: ""}]
- var secondaryLinks = [{name: "Documentation",href: "/docs"},{name: "Guides",href: ""},{name: "Tutorials",href: ""},{name: "Support",href: ""}]

mixin list(links, main)
  .container
    ul
      if main
        
        //- Logo
        li
          a(href="/").logo.logo--nav
            span.logo__name.logo__name--nav CART
            span.logo__circle.logo__circle--nav
        
        //- Mobile toggle      
        li.nav-toggle
          span.nav-toggle__icon    
          ul.side-nav
            
            li
              a(href="/docs").logo
                span.logo__name CART
                span.logo__circle
                  
            each link, i in links
              li
                a(href="" + link.href).link= link.name
        
      //- Links        
      each link, i in links
        li
          a(href="" + link.href).link= link.name
 
nav.nav.nav-main
  +list(mainLinks, true)
nav.nav.nav-secondary
  +list(secondaryLinks, false)

.separator
