- var mainLinks = [{name: "Builder",href: ""},{name: "Engine",href: ""},{name: "Solutions",href: ""},{name: "Pricing",href: ""},{name: "Blog",href: ""},{name: "Login",href: ""},{name: "Contact us",href: ""}]
- var secondaryLinks = [{name: "Documentation",href: "/docs"},{name: "Guides",href: ""},{name: "Tutorials",href: ""},{name: "Support",href: ""}]

mixin list(links, main)
  .container
    ul
      if main
        li
          a(href="/").logo.logo--nav
            span.logo__name.logo__name--nav CART
            span.logo__circle.logo__circle--nav
      each link, i in links
        li
          a(href="" + link.href)= link.name
      else
        li There are no values
 
nav.nav.nav-main
  +list(mainLinks, true)
nav.nav.nav-secondary
  +list(secondaryLinks, false)

.separator
