extends layout

block content  
  
  progress(value="0").reading-indicator
  
  .container
    .grid
      
      aside#aside-article-page
        ul.menu
          each dir in menu
            li= dir.title
              if dir.files.length
                ul.submenu
                  each file in dir.files
                    li(id=file.toLowerCase().split(' ').join('-'))
                      a(href="/docs/:" + directory + "/:" + file.toLowerCase().split(' ').join('-')).link= file

      main#article-page
        .content!= content
        
