extends layout

block content
  
  main#docs-page
    
    .docs-intro
      .container
        h1 DOCUMENTATION
        p Learn all about the CARTO Engine. An Open Source tool that enables you to use several APIs to build advanced, dynamic geospatial datasets and scalable maps for your own applications.
        input(type="text" placeholder="Search the docs")
          
    .categories
      .container
              
        each val in config
          .category
            h3.category__title= val.title
            p.category__description= val.description
            .category__topics
              each topic in val.topics
                - var filePath = "/docs/:" + topic.title.toLowerCase() + "/:getting-started"
                a(href= filePath).category__topic
                  .category__topic__icon
                    img(src="images/" + topic.img)
                  .category__topic__title= topic.title
                  if topic.api
                    .category__topic__api API
