@import ../base/variables

.grid
  display: flex
  justify-content: space-around
  align-items: flex-start
  margin: 100px auto

aside#aside-article-page
  width: 30%
  margin-top: 10px
  margin-right: 20px

  .menu
    font-family: Montserrat
    font-size: 13px
    color: $main-menu-color

    li
      margin-bottom: 30px
      cursor: pointer

  .submenu
    color: $secondary-menu-color

    li
      margin-top: 20px
      margin-bottom: 0
      margin-left: 30px

      a
        &.is-selected
          font-weight: 700
          color: $is-selected-color

        &.link--active
          font-weight: 600 !important
          color: $link-hovered-color !important

main#article-page
  width: 70%
  font-family: Montserrat
  color: $main-color

  section
    margin-bottom: 64px

  h1
    font-weight: 700
    font-size: 24px
    line-height: 40px
    margin-bottom: 8px

  h2
    font-weight: 400
    font-size: 20px
    line-height: 32px
    margin-bottom: 8px

  h3
    font-weight: 400
    font-size: 17px
    line-height: 24px
    margin-bottom: 8px

  p
    font-size: 15px
    line-height: 24px
    margin-bottom: 24px

  code
    display: block
    margin-bottom: 24px
    background: $main-color
    color: white
    padding: 16px
    font-size: 13px
    line-height: 24px
    overflow-x: scroll

    &.prettyprint

      ol.linenums
        counter-reset: linenumber

      ol.linenums li
        list-style-type: none
        counter-increment: linenumber

      ol.linenums li:before
        content: counter(linenumber)
        float: left
        text-align: right
        margin-right: 32px
        color: #647083

  a
    color: $link-color
    font-size: 15px
    line-height: 24px
    font-weight: 500
    cursor: pointer

  table
    border-radius: 4px
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15)
    margin-bottom: 32px
    width: 100%

    td, th
      text-align: left
      padding: 16px
      border: 1px solid #eee
      font-size: 13px

    th
      font-weight: 600

  .info-box
    border-radius: 4px
    width: 100%
    box-sizing: border-box
    background: #F6FFF5
    padding: 16px
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15)
    color: $main-color
    font-size: 13px
    line-height: 24px

  .concept-box
    width: 100%
    padding: 16px
    box-sizing: border-box
    border-radius: 4px
    background-color: #F9F9F9
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15)

    .title
      color: $main-color
      font-size: 15px
      line-height: 24px
      margin-bottom: 0

    .description
      color: $secondary-color
      font-size: 13px
      line-heigt: 24px
      margin-bottom: 0px auto

progress
  position: fixed
  left: 0
  top: -10px
  width: 100vh
  height: 10px
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  border: none
  background-color: transparent
  color: $main-color
  transform: rotate(90deg)
  transform-origin: bottom left

  &::-webkit-progress-bar
    background-color: transparent

  &::-webkit-progress-value
    background-color: $main-color

  &::-moz-progress-bar
    background-color: $main-color
